*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

.logo{
    position: absolute;
    width: 72.6px;
    height: 76px;
    left: 60px;
    top: 50px;
}

.explore-btn{
    position: absolute;
    width: 138px;
    height: 44px;
    right: 60px;
    top: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: white;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.explore-btn:hover{
    color: #A7FF83;
    transition: ease 0.75s;
}

.home{
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #0A2773 0%, #080C36 100%);
    height: 100vh;
}

.name{
    position: absolute;
    width: 800px;
    height: 220px;
    top: 200px;
    left: 23vw;
}


.line{
    border: 2px solid rgba(23, 185, 120, 0.4);
    width: 42%;
    position: absolute;
    top: 400px;
    left: 28vw;
}

.description{
    color: #A7FF83;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 430px;
    left: 36vw;
    font-size: 50px;
}

.name path:nth-child(2){
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(3){
 stroke-dasharray: 507;
 stroke-dashoffset: 507;  
 animation: line-anim 3s ease forwards 0.6s; 
}
.name path:nth-child(4){
    stroke-dasharray: 468;
 stroke-dashoffset: 468;   
 animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(5){
    stroke-dasharray: 419;
 stroke-dashoffset: 419;   
 animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(6){
    stroke-dasharray: 478;
 stroke-dashoffset: 478;   
 animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(7){
    stroke-dasharray: 572;
 stroke-dashoffset: 572;   
 animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(8){
    stroke-dasharray: 434;
 stroke-dashoffset: 434;   
 animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(9){
    stroke-dasharray: 419;
 stroke-dashoffset: 419;   
 animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(10){
    stroke-dasharray: 478;
 stroke-dashoffset: 478;   
 animation: line-anim 3s ease forwards 0.6s;
}
.name path:nth-child(11){
    stroke-dasharray: 240;
    stroke-dashoffset: 240;   
    animation: line-anim 3s ease forwards 0.6s;
}


@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}


@media (max-width: 1028px){
    .logo{
        position: absolute;
        width: auto;
        height: 30px;
        left: 30px;
        top: 25px;
    }

    .explore-btn{
        position: absolute;
        width: auto;
        height: 44px;
        right: 30px;
        top: 25px;
        font-size: 18px;
    }
    
    .name{
        height: 13vw;
        position: absolute;
        top: 35vh;
        width: 100vw;
        left: 0;
    }

    .line{
        border: 1px solid rgba(23, 185, 120, 0.7);
        position: absolute;
        top: 47vh;
        width: 42%;
        left: 30vw;
    }
    .description{
        position: absolute;
        top: 430px;
        left: 30vw;
        font-size: 28px;
    }
}

/*
ABOUT ME PAGE
#FF2E63 
*/
.navbar{
    position: absolute;
    z-index: 50;
    right: 50px;
    height: 400px;
    align-self: center;
    top: 30vh;
}

.navbar ul{
    list-style: none;
}

.nav-links{
    padding: 40px 0px;
}

.nactive{
    opacity: 0.3;
}

a{
    text-decoration: none;
    color: #EAEAEA;
}


.logo1{
    position: fixed;
    width: 72.6px;
    height: 76px;
    left: 30px;
    top: 20px;
    z-index: 50;
}

.back{
    background: #252A34;
    height: 100vh;
}

.left-red-bar{
    background: #FF2E63;
    height: 240px;
    width: 20px;
    position: absolute;
    left: 0px;
    top: 136.5px;
    z-index: 1;
}

.center-red-bar{
    background: #FF2E63;
    height: 564px;
    width: 370px;
    position: absolute;
    left: 219px;
    top: 0px;
    z-index: 1;
}

.bottom-red-bar{
    background: #FF2E63;
    height: 20px;
    width: 370px;
    position: absolute;
    left: 219px;
    bottom: 0px;
    z-index: 1;
}

.about-bottom{
    position: absolute;
    left: 220px;
    top: 610px;
    z-index: 2;
    width: 370px;
    color: #EAEAEA;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.about-heading{
    position: absolute;
    left: 135px;
    top: 102px;
    z-index: 2;
    width: 610px;
    color: #EAEAEA;
    font-size: 125px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.blue-top-bar{
    background: #08d9d6;
    width: 350px;
    top: 0;
    height: 20px;
    left: 970px;
    position: absolute;
    z-index: 2;
}
/* 970 to 1170 */
.blue-bar{
    background: #08d9d6;
    width: 350px;
    bottom: 0;
    height: 350px;
    position: absolute;
    z-index: 2;
    left: 970px;
}

.education-title{
    position: absolute;
    z-index: 3;
    left: 1000px;
    top: 450px;
    color: #252A34;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.qual{
    position: absolute;
    z-index: 3;
    left: 1000px;
    top: 525px;
    color: #252A34;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: 310px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.bonjour{
    position: absolute;
    z-index: 4;
    left: 670px;
    top: 130px;
    color: #08d9d6;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

    font-style: normal;
    font-weight: 800;
}

.about{
    text-indent: 250px;
    position: absolute;
    z-index: 4;
    left: 670px;
    top: 190px;
    color: #08d9d6;
    width: 650px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.dot-not{
    opacity: 0.4;
}

.first{
    opacity: 1;
}

.second{
    opacity: 1;
}

.mobile-nav{
    visibility: hidden;
    float: right;
    background: #EAEAEA;
    color: #FF2E63;
    width: 70vw;
    position: fixed;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
}
.mobile-nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mnav{
    margin: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FF2E63;
}


/*for tablet */

@media (max-width: 1028px){
     .navbar{
        visibility: hidden;
        cursor: none;
    }

    .mobile-nav{
        visibility: visible;
        float: right;
        background: #EAEAEA;
        color: #FF2E63;
        width: 70vw;
        position: fixed;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 7vh;
    }
    .mobile-nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .mnav{
        margin: 30px 70px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #FF2E63;
    }
    
    .logo1{
        position: fixed;
        width: 72.6px;
        height: 76px;
        left: 10px;
        top: 20px;
        z-index: 50;
    }

    .back{
        background: #252A34;
        width: 100vw;
    }
    body{
        background: #252A34;
    }

    .left-red-bar{
        background: #FF2E63;
        height: 240px;
        width: 2vw;
        position: absolute;
        left: 0px;
        top: 136.5px;
        z-index: 1;
    } 

    .center-red-bar{
        background: #FF2E63;
        height: 564px;
        width: 70vw;
        position: absolute;
        left: 30vw;
        top: 0px;
        z-index: 1;
    }

    .bottom-red-bar{
        background: #FF2E63;
        height: 20px;
        width: 70vw;
        position: absolute;
        left: 30vw;
        top: 730px;
        z-index: 1;
    }
    
    .about-bottom{
        position: absolute;
        left: 30vw;
        top: 630px;
        z-index: 2;
        width: 70vw;
        color: #EAEAEA;
        font-size: 27px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    .about-heading{
        position: absolute;
        left: 15vw;
        top: 125px;
        z-index: 2;
        width: 50vw;
        color: #EAEAEA;
        font-size: 15vw;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    .blue-top-bar{
        background: #08d9d6;
        width: 100vw;
        top: 760px;
        height: 20px;
        left: 0px;
        position: absolute;
        z-index: 2;
    }
    
    .bonjour{
        position: absolute;
        z-index: 4;
        left: 30px;
        top: 830px;
        color: #08d9d6;
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
    }

    .about{
        text-indent: 0px;
        position: absolute;
        z-index: 4;
        left: 30px;
        top: 875px;
        color: #08d9d6;
        width: 80vw;
        text-align: justify;
        font-size: 27px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    /* 970 to 1170 */
    .blue-bar{
        background: #08d9d6;
        width: 100vw;
        top: 1150px;
        height: 100px;
        position: absolute;
        z-index: 2;
        left: 0px;
    }

    .education-title{
        position: absolute;
        z-index: 3;
        left: 40px;
        top: 1200px;
        color: #252A34;
        font-size: 55px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
    }

    .qual{
        position: absolute;
        z-index: 3;
        left: 40px;
        top: 1270px;
        color: #252A34;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        width: 90vw;
        letter-spacing: 1px;
        line-height: 1.8;
    }

}



/* for mobile */
@media (max-width: 540px){
    .logo1{
        position: fixed;
        width: 72.6px;
        height: 76px;
        left: 10px;
        top: 20px;
        z-index: 50;
    }
    
    
    .mobile-nav{
        visibility: visible;
        float: right;
        background: #EAEAEA;
        color: #FF2E63;
        width: 70vw;
        position: fixed;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 7vh;
    }
    .mobile-nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .mnav{
        margin: 20px 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #FF2E63;
    }
    
    .back{
        background: #252A34;
        width: 100vw;
    }
    body{
        background: #252A34;
    }

    .left-red-bar{
        background: #FF2E63;
        height: 240px;
        width: 2vw;
        position: absolute;
        left: 0px;
        top: 136.5px;
        z-index: 1;
    } 

    .center-red-bar{
        background: #FF2E63;
        height: 564px;
        width: 70vw;
        position: absolute;
        left: 30vw;
        top: 0px;
        z-index: 1;
    }

    .bottom-red-bar{
        background: #FF2E63;
        height: 20px;
        width: 70vw;
        position: absolute;
        left: 30vw;
        top: 730px;
        z-index: 1;
    }
    
    .about-bottom{
        position: absolute;
        left: 30vw;
        top: 620px;
        z-index: 2;
        width: 70vw;
        color: #EAEAEA;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    .about-heading{
        position: absolute;
        left: 10vw;
        top: 125px;
        z-index: 2;
        width: 50vw;
        color: #EAEAEA;
        font-size: 100px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    .blue-top-bar{
        background: #08d9d6;
        width: 100vw;
        top: 760px;
        height: 20px;
        left: 0px;
        position: absolute;
        z-index: 2;
    }
    
    .bonjour{
        position: absolute;
        z-index: 4;
        left: 30px;
        top: 830px;
        color: #08d9d6;
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
    }

    .about{
        text-indent: 0px;
        position: absolute;
        z-index: 4;
        left: 30px;
        top: 875px;
        color: #08d9d6;
        width: 80vw;
        text-align: justify;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    /* 970 to 1170 */
    .blue-bar{
        background: #08d9d6;
        width: 100vw;
        top: 1150px;
        height: 100px;
        position: absolute;
        z-index: 2;
        left: 0px;
    }

    .education-title{
        position: absolute;
        z-index: 3;
        left: 40px;
        top: 1200px;
        color: #252A34;
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
    }

    .qual{
        position: absolute;
        z-index: 3;
        left: 40px;
        top: 1250px;
        color: #252A34;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        width: 310px;
        letter-spacing: 1px;
        line-height: 1.8;
    }

}


/*
SKILLS PAGE
#FF2E63 
*/
.back1{
    background: #252A34;
    height: 100vh;
}

.skills-heading{
    color: rgba(234, 234, 234, 0.1);
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 300px;
    position: absolute;
    z-index: 10;
    left: 80px;
    bottom: 0px;
    padding: 0;
    margin-bottom: 0;
}

.second-red-bar{
    background: #FF2E63;
    height: 50vh;
    width: 50vh;
    position: absolute;
    left: 660px;
    top: 0px;
    z-index: 2;
}

.second-blue-bar{
    background: #08d9d6;
    height: 50vh;
    width: 50vh;
    position: absolute;
    left: 1040px;
    bottom: 0px;
    z-index: 1;
}

.quote{
    position: absolute;
    z-index: 10;
    left: 80px;
    color: #EAEAEA;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    width: 500px;
    text-align: justify;
    top: 200px;
}

.red-skills ul{
    list-style: none;
    color: #EAEAEA;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    z-index: 2;
    left: 680px;
    top: 15vh;
    font-size: 40px;
    font-weight: 800;
}

.blue-skills ul{
    list-style: none;
    color: #252A34;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    z-index: 2;
    left: 1060px;
    top: 65vh;
    font-size: 40px;
    font-weight: 800;
}

@media (max-width: 540px){
    .back1{
        background: #252A34;
        height: 100vh;
    }
    
    .skills-heading{
        color: rgba(234, 234, 234, 0.1);
        font-size: 80px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 130px;
        position: absolute;
        z-index: 10;
        left: 30px;
        top: 190px;
        bottom: 0px;
        padding: 0;
        margin-bottom: 0;
    }
    
    .second-red-bar{
        background: #FF2E63;
        height: 50vh;
        width: 100vw;
        position: absolute;
        top: 320px;
        left: 0;
        z-index: 2;
    }
    
    .second-blue-bar{
        background: #08d9d6;
        height: 50vw;
        width: 100vw;
        position: absolute;
        left: 0;
        bottom: 0px;
        top: 725px;
        z-index: 2;
    }
    
    .quote{
        position: absolute;
        z-index: 10;
        margin: auto;
        color: #EAEAEA;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        width: 100vw;
        text-align: justify;
        top: 120px;
        left: 0;
        padding: 0 25px;
    }
    
    .red-skills ul{
        list-style: none;
        color: #EAEAEA;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        z-index: 2;
        left: 40px;
        top: 450px;
        font-size: 40px;
        font-weight: 800;
    }
    
    .blue-skills ul{
        list-style: none;
        color: #252A34;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        z-index: 2;
        left: 40px;
        top: 100vh;
        font-size: 40px;
        font-weight: 800;
    }
}


/*
Contact Page
*/

.blue-bg{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    height: 71vh;
    width: 100vw;
    background: #08d9d6;
}

.git{
    position: absolute;
    z-index: 2;
    top: 19vh;
    color: #08d9d6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 90px;
    text-align: center;
    width: 100vw;
}

.icon-list{
    position: absolute;
    z-index: 3;
    top: 50vh;
    width: 100vw;
    font-size: 75px;
    align-content: center;
    text-align: center;
    color: #252A34;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.email{
    color: #080C36;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    z-index: 2;
    bottom: 20vh;
    width: 100vw;
    text-align: center;
}

.icon-list a{
    color: #252A34;
}

.icon-list a:hover{
    color: #0A2773;
}


@media (max-width: 540px){
    .git{
        font-size: 55px;
    }

    .mobile-nav{
        visibility: visible;
        float: right;
        background: #EAEAEA;
        color: #FF2E63;
        width: 70vw;
        position: fixed;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 7vh;
    }
    .mobile-nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .mnav{
        margin: 20px 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #FF2E63;
    }
}

@media (max-width: 1040px){

    .mobile-nav{
        visibility: visible;
        float: right;
        background: #EAEAEA;
        color: #FF2E63;
        width: 70vw;
        position: fixed;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 7vh;
    }
    .mobile-nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .mnav{
        margin: 20px 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #FF2E63;
    }
}
